@import reset.css
html
  -webkit-font-smoothing: antialiased

$black: #0f0f0f
$green1: #26724B
$green2: #318B5D
$green3: #47B07A
$green4: #50CE8E
$gold: #EBB762
$serif: "garvis-pro", serif
$sans: "Helvetica Neue", Helvetica, Arial, sans-serif

body
  width: 100%
  color: $black
  font-family: $sans
  font-size: 14px
  min-height: 100vh
  background: #eee
  @media screen and (min-width: 600px)
    font-size: 18px

  //border: 10px solid $gold    
  //background: url('/assets/img/floral.jpg')
    background-size: cover

h1 
  font-size: 2.2em
  @media screen and (min-width: 600px)
    font-size: 3em
  letter-spacing: -.02em
  font-family: $serif
  line-height: 1.2em
  font-weight: normal
  margin-bottom: .5em
  text-align: center

h2
  font-family: $sans
  font-size: .8em
    
a
  color: inherit
  text-decoration: none
  //box-shadow: inset 0 -5px 0 #b4e7f8
  transition: box-shadow .2s ease-in-out


a:hover
  box-shadow: inset 0 -3px 0 #7E78AC

#inner
  width: 100%
  max-width: 1200px
  margin: 4em auto
  @media screen and (min-width: 600px)
    padding: 5em
  padding: 2em
  background: #fff
  //box-shadow: 0px 0px 15px 0px rgba(221,221,221,1)
  p
    //margin-bottom: 1em
  p.description
    font-family: $sans
    font-size: 1em
    margin-top: .8em
    text-transform: uppercase
    //letter-spacing: .25em
    color: rgba(0,0,0,.45)
  .content
    font-family: $serif
    font-size: 1.3em
    line-height: 1.6em
    margin-top: .8em
    width: 100%
  
.content-list
  li
    width: 100%
    border-top: 1px solid #ccc
    padding: .2em 0 .2em 15%
    font-size: .8em
    p
      margin-bottom: 0
      display: inline
      font-weight: 100
      font-style: italic
    h3
      display: inline

#introduction
  p
    margin-bottom: 2rem
#headshot
  max-width: 300px
  width: 100%
  height: auto
  margin: 0 auto
  text-align: center
  display: block
  border-radius: 50%
  margin-bottom: 2em
#red-right-angle
  width: 900px
  height: 900px
  background: #BE1B3E
  opacity: .6
  position: fixed
  left: -450px
  top: -450px
  z-index: -1
  transform: rotate(-45deg)
  overflow: hidden
#yellow-right-angle
  width: 2200px
  height: 900px
  background: #4880C4
  opacity: .6
  position: fixed
  left: -1250px
  top: -450px
  z-index: -1
  transform: rotate(-74deg)
  overflow: hidden
.noverflow
  overflow: hidden
      
li:hover
  background-color: rgba(0,0,0,.03)
  transition: background-color .2s ease-in-out
